- extends 'application.html.haml'
- block content
  .row
    .col-md-12
      .page-header
        %h1

          %label.btn.btn-xs{ class: myclass, style: 'vertical-align: middle' }
            - if user.is_active
              Active
            - else
              Not active
          = user.get_full_name

          %label.pull-right.btn
            .btn-group
              %a.btn.btn-primary{ href: "{% url 'user_update' %}" }
                .fa.fa-edit
                Edit Profile

  .row
    .col-md-12
      .well
        %dl#user-info
          %dt Email
          %dd= user.email
          %dt username
          %dd= user.username
          %dt First Name
          %dd= user.first_name
          %dt Last name
          %dd= user.last_name
          %dt Date joined
          %dd= user.date_joined
