- extends 'application.html.haml'
- load bootstrap

- block content
  .row
    .col-md-12
      .page-header
        %h1
          .col-md-8
            Your Storages
            - if storages.count > 0
              ({{storages.count}})

          .col-md-3
            %div{ style: 'display: inline' }

              %form{ role: 'form', action: "{% url 'storages_index' %}", method: 'post' }
                 - csrf_token
                 .input-group
                   .form-group#storages_select_space
                     = form|bootstrap
                   %span.input-group-btn
                     %button.btn.btn-success{ type: 'submit' }
                       Show
          .col-md-1
            %a.btn.btn-primary{ href: "{% url 'storages_new' %}" }
              Add
          %br
        %br
        .text-muted
          You can use any of those already created storages.
          If you need additional storages, please add them

    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#storages-table
          %thead
            %th No
            %th Storage Photo
            %th Name
            %th In Space
            %th Actions


          %tbody
            - for storage in storages
              %tr
                %td= forloop.counter
                %td
                  - include 'storages/_storage_thumbnail.html.haml' with object=storage
                %td= storage.name
                %td
                  = storage.space.name
                  .text-muted
                    = storage.space.description
                    - if storage.space.address != ' '
                      %br
                      %i.fa.fa-map-marker
                      = storage.space.address
                  %a.btn.btn-primary{ href: "{% url 'storages_new' storage.space.id%}" }
                    Add Storage
                %td
                  .btn-group
                    %a.btn.btn-success{ href: "{% url 'storages_show' storage.id %}" }
                      .fa.fa-eye
                    %a.btn.btn-primary{ href: "{% url 'storages_update' storage.id %}" }
                      .fa.fa-edit
                    %form{ role: 'form', method: 'post', action: "{% url 'storages_delete' storage.id %}" }
                      - csrf_token
                      %button.btn.btn-danger{ type: 'submit'}
                        .fa.fa-times
