- extends 'application.html.haml'
{% load thumbnail %}
- block content
  .row
    .col-md-12
      .page-header
        %h1
          Storages({{storages.count}})

        .text-muted
          You can use any of those already created storages.
          If you need additional storages, please add them
    .row
      .col-md-12
        %table.table.table-striped.table-hover#storages-table
          %thead
            %th No
            %th Storage Photo
            %th Name
            %th In Space
            %th Actions


          %tbody
            - for storage in storages
              %tr
                %td= forloop.counter
                  %td=
                    %p
                      {% if storage.image %}
                        {% thumbnail storage.image "120x120" crop="center" as im %}
                          %img{:height => "{{ im.height }}", :src => "{{ im.url }}", :width => "{{ im.width }}"}/
                            {% endthumbnail %}
                              {% endif %}
                %td= storage.name
                %td
                  = storage.space.name
                  .text-muted
                    = storage.space.description
                    - if storage.space.address != ' '
                      %br
                      %i.fa.fa-map-marker
                      = storage.space.address
                  %a.btn.btn-primary{ href: "{% url 'storages_new' storage.space.id%}" }
                    Add Storage
                %td
                  .btn-group
                    %a.btn.btn-success{ href: "{% url 'storages_show' storage.id %}" }
                      .fa.fa-eye
                    %a.btn.btn-primary{ href: "{% url 'storages_update' storage.id %}" }
                      .fa.fa-edit
                    %form{ role: 'form', method: 'post', action: "{% url 'storages_delete' storage.id %}" }
                      - csrf_token
                      %button.btn.btn-danger{ type: 'submit'}
                        .fa.fa-times
