- extends 'application.html.haml'
- load thumbnail
- block content

  .row
    .col-md-12
      .page-header
        %h2
          = storage.name
        .text-muted
          = storage.description
          %div{ title: "{{ storage.space.address }}"}
            %a{ href: "{% url 'spaces_show' storage.space.id%}" }
              .fa.fa-map-marker
              = storage.space.name

  .row.row-eq-height
    .col-md-12
      - if items.count == 0
        .well
          %h4 There are no items in this storage yet!

      - for item_storage in items_storage
        .col-md-4.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-heading.text-center
              = item_storage.item.name
              .text-muted
                = item_storage.quantity
                remaining
            .panel-body
              .col-md-6.col-sm-6.col-xs-6
                %div{ style: 'height: 100px'}
                  - if item_storage.item.image
                    .thumbnail{ style: 'margin: 0'}
                      - include '_thumbnail.html.haml' with object=item_storage.item
              .col-md-6.col-sm-6.col-xs-6.text-center
                %div{ style: 'text-align: center;'}
                .btn-group-vertical
                  - if item_storage.quantity > 0
                    %a.btn.btn-primary.btn-lg{ href: "{% url 'remove_item' storage.id item_storage.item.id %}", method: 'post' }
                      Took 1
                    .text-muted{ style: 'word-wrap: break-word;' }
                      Please donate
                      %br
                      = item_storage.item.reimbursement
                      euro
                  - else
                    %button.btn.btn-default.disabled
                      Sorry, no more left!
                    %s.text-muted{ style: 'word-wrap: break-word;' }
                      Please donate
                      %br
                      = item_storage.item.reimbursement
                      euro
