- extends 'application.html.haml'

{% load thumbnail %}
- block content

  .row
    .col-md-12
      .page-header
        %h2
          Items in
          = storage.name

          .btn-group.pull-right
            %a.btn.btn-primary{ href: "{% url 'storages_update' storage.id%}" }
              .fa.fa-edit
              Edit
            %a.btn.btn-warning{ href: "{% url 'items_new' %}?storage_id={{ storage.id }}" }
              .fa.fa-plus
              Item
            %a.btn.btn-success{ href: "{% url 'items_index' %}" }
              .fa.fa-plus
              Add existing Item
        .text-muted
          ({{ storage.space.name}})
  .row
    .col-md-12
      %table.datatable.table.table-striped.table-hover#spaces-table
        %thead
          %th No
          %th Photo
          %th Name
          %th Quantity Available
          %th Description
          %th Price (bought)
          %th Price (reimbursement)
          %th Actions

        %tbody
          - for item in items
            %tr
              %td=forloop.counter
                %td=
                  %p
                    - if item.image
                      {% thumbnail item.image "120x120" crop="center" as im %}
                        %img{ height: '{{ im.height }}', src: '{{ im.url }}', width: '{{ im.width }}' }/
                          {% endthumbnail %}
              %td= item.name

              %td{ style: "{% if item.items_storage_set.all.first.quantity < 5 %} background-color: #fffc8e {% endif %}" }
                .col-md-4
                  = item.items_storage_set.all.first.quantity
                .col-md-8
                  .btn-group-vertical
                    %a.btn.btn-success{ href: "{% url 'add_item' storage.id item.id %}", method: 'post' }
                      .fa.fa-plus
                      1
                    %a.btn.btn-danger{ href: "{% url 'remove_item' storage.id item.id %}", method: 'post' }
                      .fa.fa-minus
                      1
                - if item.items_storage_set.all.first.quantity < 5
                  .text-muted.text-center
                    Attention: Low quantity!


              %td= item.description
              %td= item.price_bought
              %td= item.reimbursement
              %td
                .btn-group
                  %a.btn.btn-primary{ href: "{% url 'items_update' item.id %}" }
                    .fa.fa-edit

                  %form.btn-group{ role: 'form', method: 'post', action: "{% url 'items_delete' item.id %}" }
                    - csrf_token
                    %button.btn.btn-danger{ onclick: 'clicked(event)' }
                      .fa.fa-times
