- extends 'application.html.haml'
- block content
  .row
    .col-md-12
      .page-header
        %h2 Welcome!
  .row
    .col-md-12
      Add spaces and manage their storages

  - if search_results
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Type
            %th Photo
            %th Name
            %th Description

          %tbody
            - for _index, result in search_results
              %tr
                %td
                  =  forloop.counter
                %td
                  = result.class_name
                %td
                  - include '_thumbnail.html.haml' with object=result

                %td
                  - if result.class_name == 'Space'
                    %a.btn.btn-default{ href: "{% url 'spaces_show' result.id %}" }
                      = result.name
                  - else
                    %a.btn.btn-default{ href: "{% url 'storages_show' result.id %}" }
                      = result.name

                %td
                  = result.description
                  - if result.class_name == 'Storage' and result.space.address
                    .text-muted
                      .fa.fa-map-marker
                      = result.space.address
