- extends 'application.html.haml'
- load thumbnail
- load staticfiles

- block homepage
  .container{ style: 'width: 100%; margin-bottom: 50px; background-color: #5b98cc;'}
    .row
      .col-md-12{ style: 'text-align: center'}
        .page-header
          %h2
            .text-muted{ style: 'color: #ffff'}
              %b Welcome to Supplies Tracker!
            .text-muted{ style: 'color:#ffff'}
              %b
                Create Spaces, manage Storages, track Items and never miss a thing!
    .row{ style: 'background-color: #5b98cc; padding-top: 20px; padding-bottom: 10px !important' }
      .col-md-12
        %div{ style: 'text-align: center; padding-bottom: 20px'}
          %img{ src: "{% static 'images/logo.png' %}", style: 'border-radius: 50%; width: 20%; height: 30%' }

- block content
  - if search_results
    .row
      .col-md-12
        %table.datatable.table.table-striped.table-hover#spaces-table
          %thead
            %th No
            %th Type
            %th Photo
            %th Name
            %th Description

          %tbody
            - for _index, result in search_results
              %tr
                %td
                  =  forloop.counter
                %td
                  = result.class_name
                %td
                  - include '_thumbnail.html.haml' with object=result

                %td
                  - if result.class_name == 'Space'
                    %a.btn.btn-default{ href: "{% url 'spaces_show' result.id %}" }
                      = result.name
                  - else
                    %a.btn.btn-default{ href: "{% url 'storages_show' result.id %}" }
                      = result.name

                %td
                  = result.description
                  - if result.class_name == 'Storage' and result.space.address
                    .text-muted
                      .fa.fa-map-marker
                      = result.space.address
  - else
    - if user_spaces.count == 0
      .row
        .col-md-12.well{ style: 'text-align: center' }
          %h4
            It seems you haven't added any spaces yet.
            %br
            Get started now!
            %br
            %br
            %a.btn.btn-success{ href: "{% url 'spaces_new' %}" }
              .fa.fa-plus
              Add New Space
